
<p>パスワードをリセットするには下のリンクをクリックまたはタップしてください。</p>

<%= link_to "Reset password", edit_password_rest_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクは２時間で無効になります。</p>

<p>
もしこのメールに覚えがない場合はこのメールを無視してください。そうすれば、パスワードは変更されません。
</p>
