<% provide(:title, 'Home')%>
<div class="jumbotron text-center">
  <h1 class="display-4">TweetAppへようこそ</h1>
  <p class="lead">これは勉強用に作ったTwitterのようなアプリです。</p>
  <hr class="my-4">
  <p>下のボタンから新規登録できます。</p>
  <%= link_to "新規登録", signup_path, class:'btn btn-primary btn-lg'%>
</div>
